---

---

<div class="flex flex-col gap-6 mb-10">
  <div class="w-full">
    <label class="relative block group">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none text-[#897961] group-focus-within:text-primary transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          ></path>
        </svg>
      </div>
      <input
        class="w-full h-14 pl-12 pr-4 bg-white border border-[#eeece8] rounded-xl focus:ring-2 focus:ring-primary focus:border-primary transition-all text-base placeholder:text-[#897961]"
        placeholder="Cari bumbu, jajanan, atau perlengkapan rumah..."
        type="text"
      />
    </label>
  </div>
  <div class="flex gap-2 overflow-x-auto pb-2 scrollbar-hide">
    <button
      class="px-6 py-2 rounded-full bg-primary-500 text-white font-semibold text-sm shadow-md"
    >
      Semua
    </button>
    <button
      class="px-6 py-2 rounded-full bg-white border border-[#eeece8] hover:border-primary text-sm font-medium transition-colors"
    >
      Bumbu
    </button>
    <button
      class="px-6 py-2 rounded-full bg-white border border-[#eeece8] hover:border-primary text-sm font-medium transition-colors"
    >
      Jajanan
    </button>
    <button
      class="px-6 py-2 rounded-full bg-white border border-[#eeece8] hover:border-primary text-sm font-medium transition-colors"
    >
      Rumah Tangga
    </button>
    <button
      class="px-6 py-2 rounded-full bg-white border border-[#eeece8] hover:border-primary text-sm font-medium transition-colors"
    >
      Minuman
    </button>
  </div>
</div>
