---
import BaseLayout from "../layout/BaseLayout.astro";
import SearchBar from "../components/catalogue/SearchBar.astro";
import ProductGrid from "../components/catalogue/ProductGrid.astro";
---

<BaseLayout>
  <div class="max-w-7xl mx-auto px-6 py-12 md:py-24">
    <div class="mb-8">
      <h1 class="text-4xl font-black tracking-tight mb-3">Katalog Produk</h1>
      <p class="text-[#897961] text-lg max-w-2xl">
        Temukan kebutuhan bumbu dapur dan jajanan favorit Anda dengan harga
        terjangkau setiap hari.
      </p>
    </div>
    <SearchBar />
    <ProductGrid />
  </div>
</BaseLayout>
