---
import BaseLayout from "../layout/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HomeCatalogue from "../components/HomeCatalogue.astro";
import HomeLocation from "../components/HomeLocation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Toko Bu Rohani";
---

<BaseLayout pageTitle={pageTitle}>
  <Header />
  <Hero />
  <HomeCatalogue />
  <HomeLocation />
  <Footer />
  <a
    class="fixed bottom-8 right-8 z-[100] bg-emerald-500 text-white w-16 h-16 rounded-full shadow-2xl flex items-center justify-center hover:scale-110 active:scale-95 transition-all group overflow-hidden"
    href="#"
  >
    <span class="material-symbols-outlined text-3xl">chat</span>
    <div class="absolute -top-1 -right-1 flex h-4 w-4">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-emerald-400"
      ></span>
    </div>
  </a>
</BaseLayout>
