---
import BaseLayout from "../layout/BaseLayout.astro";
import InfoGrid from "../components/location/InfoGrid.astro";
---

<BaseLayout>
  <div class="max-w-7xl mx-auto px-6 py-12 md:py-24">
    <div class="flex flex-col gap-2 mb-10">
      <h1 class="text-[#111816] text-[32px] font-bold leading-tight">
        Lokasi &amp; Kontak
      </h1>
      <p class="text-[#5f8c7d] text-base font-normal">
        Temukan kami di lokasi terdekat atau hubungi kami langsung.
      </p>
    </div>
    <div
      class="bg-cover bg-center flex min-h-[400px] flex-col justify-between px-4 pb-4 pt-5 rounded-xl shadow-lg relative overflow-hidden group"
      data-alt="Google Maps placeholder showing local store location"
      data-location="West Java, Indonesia"
      style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC3K5FALwT5BqnSzthTHIOPJsSSEmTjtt5e6oPwt0l8FR3nd_fDfJx8OV1x4lItbZ1d0bxVzDRtvDJwHnM6sMwqtwMqDJxK37HBv_83Wa3MAl4e_BO5pLimrXAng21fPjTDIedJiktFEwfqrHb_Bk9uaZsj4yXApRUHsRFBXD5GvSaYE9FhfZFUkIT3c1HLyf00Uod_FtzB3OVPm3lCUK-6EIiMViQnYoeTx4dej6ITzSjX332Qoj3IEXmdQUOQV8QPvymSxXOAR673');
              "
    >
    </div>
    <InfoGrid />
  </div>
</BaseLayout>
