---
import Nav from "./Nav.astro";
---

<header class="header-glass">
  <div class="max-w-5/6 mx-auto flex items-center justify-between py-5 px-8">
    <a class="text-xl font-black">Toko</a>
    <Nav />
    <a
      class="bg-primary-500 hover:bg-primary-600 py-2 px-5 rounded-md text-accent-100 font-semibold"
      >Contact Me</a
    >
  </div>
</header>

<style></style>
