---
import Nav from "./Nav.astro";
---

<header class="header-nav">
  <div class="max-w-7xl mx-auto flex items-center justify-between py-5 px-8">
    <a href="" class="text-xl font-black cursor-pointer">Toko</a>
    <Nav />
    <a
      class="bg-primary-500 hover:bg-primary-600 py-2 px-5 rounded-md text-accent-100 font-semibold cursor-pointer"
      >Contact Me</a
    >
  </div>
</header>

<style></style>
