---

---

<section class="py-24 bg-amber-50" id="lokasi">
  <div class="max-w-7xl mx-auto px-6">
    <div
      class="bg-white rounded-[2.5rem] p-12 shadow-sm border border-amber-100/50 overflow-hidden relative"
    >
      <div
        class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center relative z-10"
      >
        <div>
          <h2 class="text-3xl font-extrabold text-slate-900 mb-6">
            Kunjungi Toko Kami
          </h2>
          <p class="text-slate-600 mb-8">
            Kami berlokasi strategis di jantung pemukiman untuk memudahkan Anda
            memenuhi kebutuhan harian tanpa harus pergi jauh.
          </p>
          <div class="space-y-6">
            <div class="flex items-start gap-4">
              <div
                class="w-12 h-12 bg-emerald-100 rounded-xl flex items-center justify-center text-primary shrink-0"
              >
                <span class="material-symbols-outlined">location_on</span>
              </div>
              <div>
                <h4 class="font-bold text-slate-900">Alamat Utama</h4>
                <p class="text-slate-600">
                  Jl. Melati No. 45, Kebon Jeruk, Jakarta Barat
                </p>
              </div>
            </div>
            <div class="flex items-start gap-4">
              <div
                class="w-12 h-12 bg-emerald-100 rounded-xl flex items-center justify-center text-primary shrink-0"
              >
                <span class="material-symbols-outlined">schedule</span>
              </div>
              <div>
                <h4 class="font-bold text-slate-900">Jam Operasional</h4>
                <p class="text-slate-600">Senin - Minggu: 06.00 - 21.00 WIB</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-80 bg-slate-100 rounded-3xl overflow-hidden border border-slate-200"
        >
          <img
            alt="Lokasi Toko"
            class="w-full h-full object-cover opacity-50 grayscale"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuAelsov-a2zNaPsS8rhchzF3i_ZbIkCcWtbRr2lXhNV-7ce7H1lqIJsDDbxg1JSb9F3dOwoqN0IFRHX2BAGmG0F0-7-oYiIVtb7c1UGACUE0O6sp_vgxB54iHnPMSbHM1E9PTgVcngdsGIaRaWGmhQoDzXoti97_UmfvOth6YWv7CatIbrXggxvZgpKUFfn_-kkMzNNha7WUrSL6wQ__qw2b5m9E9uwrstJgMH1eG0GwQB0mRm3Xowl3hjDc7z9UliKs819VFij50GI"
          />
        </div>
      </div>
      <div
        class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 w-96 h-96 bg-emerald-50 rounded-full blur-3xl opacity-50"
      >
      </div>
    </div>
  </div>
</section>
